<div class="container hidden">
    <div class="header">
        <div class="header-center">
            <a class="header-center-item coding active" href="javascript:;">OPEN A PROJECT</a>
            <a class="header-center-item git" href="javascript:;">CREATE A PROJECT</a>
        </div>
    </div>
    <!-- Open Project Begin -->
    <div class=".body open-project">
        <div class="open-project-outer">
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="open-project-item">
                123
            </div>
            <div class="clear"></div>
        </div>
    </div>    
    <!-- Open Project End -->
</div>