<div class="container hidden">
    <div class="header">
        <div class="header-center">
            <a class="header-center-item coding active" href="javascript:;">OPEN A PROJECT</a>
            <a class="header-center-item git" href="javascript:;">CREATE A PROJECT</a>
        </div>
    </div>
    <!-- Open Project Begin -->
    <div class="body open-project">
        <div class="open-project-outer">
            <div class="open-project-item">
                <div class="icon"><i class="fa fa-cloud"></i></div>
                <div class="name">Pomelo.NetCore.Node</div>
                <div class="buttons">
                    <div class="btn open"><i class="fa fa-folder-open"></i></div>
                    <div class="btn remove"><i class="fa fa-trash"></i></div>
                </div>
            </div>
        </div>
    </div>    
    <!-- Open Project End -->
</div>