@font-face {
    font-family: OpenSans;
    font-weight: bolder;
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: OpenSans;
    font-weight: normal;
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    src: url("../fonts/OpenSans-Semibold.ttf") format("truetype");
}

@font-face {
    font-family: 'Microsoft YaHei';
    font-weight: normal;
    src: url("../fonts/msyh.ttf") format("truetype");
}

:-moz-placeholder {
    color: #888;  
}

::-moz-placeholder {
    color: #888;  
}

:-webkit-placeholder {
    color: #888;  
}

::-webkit-placeholder {
    color: #888;  
}

::-moz-scrollbar{width:0px}
::-webkit-scrollbar{width:0px}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #888;  
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #888;  
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: OpenSans, 'Microsoft YaHei'!important;
    background-color: rgb(51,51,51);
}

@media screen and (max-height: 767px) {
    body {
        zoom: 0.75;
    }
    #editor {
        zoom: 1.3333;
    }
}

img {
    max-width: 100%;
}

a, a:link, a:visited, a:hover {
    text-decoration: none;
    color: #ccc;
}

.clear {
    clear: both;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(51,51,51);
    z-index: 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: all 0.3s linear;
    overflow: hidden;
}

.sidebar {
    width: 280px;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgb(60,60,60);
    border-right: 1px solid rgb(70,70,70);
    height: calc(100% - 100px);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    transition: all 0.3s linear;
}

.header {
    width: 100%;
    height: 40px;
    background: rgb(70,70,70);
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 27px 10px 13px 10px;
}

.search {
    border-radius: 17px;
    height: 34px;
    width: calc(100% - 20px);
    border: 1px solid rgb(70,70,70);
    padding: 0 10px 0 10px;
    font-size: 18px;
    line-height: 34px;
    margin-left: 3px;
    overflow: hidden;
}

.search input[type="text"] {
    background: rgb(60,60,60);
    color: #fff;
    outline: 0;
    height: 34px;
    font-size: 18px;
    line-height: 34px;
    width: calc(100% - 40px);
    border: none;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}

.sidebar-tab-outer {
    margin-top: 10px;
    border-bottom: 1px solid rgb(70,70,70);
    margin-left: -10px;
    margin-right: -10px;
}

.sidebar-tab {
    color: rgb(128,128,128);
    width: 49%;
    margin: 0;
    text-align: center;
    font-size: 18px;
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border-bottom: 4px solid rgb(60,60,60);
    transition: all 0.2s linear;
}

.sidebar-tab.active {
    color: #fff;
    width: 49%;
    margin: 0;
    text-align: center;
    font-size: 18px;
    text-shadow: 0 0 5px rgba(0,0,0,0.2);
    display: inline-block;
    height: 36px;
    line-height: 36px;
    border-bottom: 4px solid #c3d446;
}

.button {
    padding: 5px 12px;
    background: rgb(90,90,90);
    font-size: 18px;
    display: inline-block;
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    transition: background 0.3s linear;
    min-width: 18px;
    text-align: center;
    color: #ddd;
}

.button.stop {
    color: #e45656;
}

.button.active {
    background: #a6b62c;
}

.button-run {
    color: rgb(142,210,138);
}

.sidebar-working {
    margin: 0 -10px;
    overflow-y: auto;
    height: calc(100% - 85px);
}

.sidebar-working-item, .sidebar-changes-list-item {
    padding: 8px 10px;
    border: none;
    font-size:14px;
    margin: 0;
    color: #ccc;
}

.sidebar-working-item:nth-child(even), a:nth-child(even) .sidebar-changes-list-item, .create-project-item:nth-child(even) {
    background: rgb(70,70,70);
}

.sidebar-working-item.active, .sidebar-changes-list-item.active, .sidebar-histories-item.active, .sidebar-console-session-item.active, .create-project-item.active {
    background: #a6b62c!important;
    color: #fff!important;
}

.header-center {
    position: absolute;
    margin-left: -226.52px;
    left: 50%;
    top: 37px;
}

.header-center-item {
    font-size: 20px;
    line-height: 55px;
    height: 55px;
    font-weight: bold;
    display: inline-block;
    color: rgb(128,128,128);
    border-bottom:5px solid rgb(70,70,70);
    margin: -17px 5px -13px 5px;
    padding: 0 5px;
}

.header-center-item.active {
    color: #fff;
    border-bottom:5px solid #c3d446;
}

.body {
    width: calc(100% - 301px);
    height: calc(100% - 80px);
    margin-left: 301px;
    margin-top: 80px;
    position: absolute;
    z-index: 0;
    overflow-y: hidden;
    transition: all 0.3s linear;
}

.body #editor {
    width: 100%;
    height: 100%;
}

.blur {    
    -webkit-filter: blur(20px);
    filter: blur(20px);    
}

.sidebar-directory {
    margin: 0 -10px;
    height: calc(100% - 85px);
}

.sidebar-directory-tools{
    border-bottom: 1px solid rgb(70,70,70);
    height: 60px;
    padding: 0 10px;
    overflow-x: auto;
    line-height: 60px;
    font-size: 24px;
    white-space: nowrap;
}

.sidebar-directory-tools a {
    display: inline-block;
    width: 60px;
    text-align: center;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-filter: blur(20px);
    filter: blur(20px);    
}

.sidebar-directory-tree {
    overflow-y: auto;
    height: calc(100% - 65px);
    padding:  0 10px 0 0;
    color: #ccc;
}

.sidebar-directory-tree ul {
    margin-left: 20px;
    padding-left: 0;
    list-style: none;
}

.sidebar-directory-tree li {
    min-height: 30px;
}

.sidebar-changes {
    height: calc(100% - 50px);
    margin-left: -10px;
    margin-right: -10px;
}

.sidebar-changes-list {
    height: calc(100% - 239px);
    border-bottom: 1px solid rgb(70,70,70);
    overflow-y: auto;
}

.sidebar-changes-commit {
    height: 240px;
    padding: 10px;
}

.textbox {
    width: calc(100% - 22px);
    padding: 5px 10px;
    background-color:  rgb(50,50,50);
    border: 1px solid rgb(70,70,70);
    height: 24px;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    border-radius: 0;
    margin: 0;
    transition: background 0.2s linear;
    color: #ccc;
}

.textbox:focus {
    background: rgb(40,40,40);
    border: 1px solid #a6b62c;
}

.commit-description {
    height: calc(100% - 120px);
}

.sidebar-changes-commit input[type="text"], .sidebar-changes-commit textarea {
    display: block;
}

.commit-button {
    border: 1px solid rgb(70,70,70);
    background: rgb(50,50,50);
    text-align: center;
    padding: 10px; 
    font-size: 16px;
    color: #ccc;
}

.sidebar-changes-list-item span {
    color: #ddd;
    font-weight: bold;
    width: 20px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
}

.sidebar-changes-list-item span.add {
    background-color: #1282a1;
}

.sidebar-changes-list-item span.delete {
    background-color: #e84141;
}

.sidebar-changes-list-item span.modify {
    background-color: #a237a5;
}

.body.git table {
    width: 100%;
    color: #ddd;
    border-collapse: collapse;
    border-bottom: 1px solid rgb(80,80,80);
}

.body.git table td {
    padding: 0 5px;
}

.body.git table colgroup col:nth-child(1), .body.git table colgroup col:nth-child(2)
{
    width: 50px;
}

.body.git table colgroup col:nth-child(3) {
    width: 20px;
}

.body.git table tr td:nth-child(1) {
    text-align: right;
    border-right: 1px solid rgb(80,80,80);
    color: #999;
}

.body.git table tr td:nth-child(2) {
    text-align: right;
    border-right: 5px solid rgb(90,90,90);
    color: #999;
}

.body.git table tr td:nth-child(3) {
    text-align: center;
}

.body.git table tr.deletion td:nth-child(3), .body.git table tr.deletion td:nth-child(4) {
    background-color: rgba(191, 22, 65, 0.40);
}

.body.git table tr.addition td:nth-child(3), .body.git table tr.addition td:nth-child(4) {
    background-color: rgba(18, 129, 47, 0.40);
}

.body.git .item {
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    border-bottom: 1px solid rgb(80,80,80);
}

.sidebar-histories {
    margin: 0 -10px;
    height: calc(100% - 50px);
    overflow-y: auto;
}

.sidebar-histories-item {
    padding: 10px;
    height: 40px;
}

.sidebar-histories-item:nth-child(even)
{
    background: rgb(70,70,70);
}

.sidebar-histories-item .avatar {
    width: 40px; 
    height: 40px;
    float: left;
}

.sidebar-histories-item .info {
    float: left;
    width: 220px;
    top: 0;
    left: 40px;
    height: 40px;
    padding: 0 10px;
}

.sidebar-histories-item .info .summary {
    font-size: 14px;
    color: #eee;
    height: 22px;
    line-height: 22px;
    text-overflow: ellipsis;
}

.sidebar-histories-item .info .hint {
    font-size: 12px;
    color: #aaa;
    height: 18px;
    line-height: 18px;
    text-overflow: ellipsis;
}

.sidebar-histories-item.active .summary, .sidebar-histories-item.active .hint{
    color: #fff;
}

.sidebar-console-session-before, .sidebar-create-project-before {
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    border-bottom: 1px solid rgb(80,80,80);
    margin: 0 -10px;
    padding: 0 10px;
}

.sidebar-console-session {
    height: calc(100% - 21px);
    margin: 0 -10px;
}

.sidebar-console-session-item {
    padding: 10px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    color: #ccc;
    border-bottom: 1px solid rgb(80,80,80);
}

.sidebar-console-session-item .button {
    float: right;
    height: 30px;
    width: 30px;
    font-size: 14px;
    line-height: 30px;
    padding: 0;
}

.sidebar-console-session-item .fa-stop {
    color: rgb(243,139,118);
}

.sidebar-console-session-item:nth-child(even)
{
    background: rgb(70,70,70);
}

.textbox-console {
    outline: 0;
    padding: 10px;
    margin: 0;
    border: none;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    background: rgb(50,50,50);
    color: #ccc;
    font-family: OpenSans, 'Microsoft YaHei';
    font-size: 14px;
    display: block;
}

.body.ssh, .body.browser, .body.open-project {
    width: 100%;
    margin-left: 0;
}

.body.coding pre {
    margin: 0;
}

.body.browser iframe {
    height: calc(100% - 90px);
    width: 100%;
    outline: none;
    border:none;
    display: block;
}

.browser-navigator {
    margin: 0 auto;
    padding-top: 50px;
    width: 50%;
    text-align: center;
}

.browser-navigator a {
    color: #ccc;
}

.browser-navigator .textbox {
    color: #ccc;
}

.login {
    width: 40%;
    min-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.login img {
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

.login .textbox {
    margin-bottom: 20px;
}

.body.open-project {
    overflow-y: auto;
}

.open-project-outer {
    margin: 15px auto auto auto;
    -webkit-column-count: 2;  
    -moz-column-count: 2;
    width: 444px;
}

@media screen and (max-width: 887px) and (min-width: 666px) {
    .open-project-outer {
        -webkit-column-count: 3;  
        -moz-column-count: 3;
        width: 666px;
    }
}

@media screen and (max-width: 1109px) and (min-width: 888px) {
    .open-project-outer {
    -webkit-column-count: 4;  
    -moz-column-count: 4;
    width: 888px;
    }
}

@media screen and (min-width: 1110px) and (max-width: 1331px) {
    .open-project-outer {
        -webkit-column-count: 5;  
        -moz-column-count: 5;
        width: 1110px;
    }
}

@media screen and (min-width: 1332px) and (max-width: 1553px) {
    .open-project-outer {
        -webkit-column-count: 6;  
        -moz-column-count: 6;
        width: 1332px;
    }
}

@media screen and (min-width: 1554px) and (max-width: 1775px) {
    .open-project-outer {
        -webkit-column-count: 7;  
        -moz-column-count: 7;
        width: 1554px;
    }
}

@media screen and (min-width: 1776px) and (max-width: 1997px) {
    .open-project-outer {
        -webkit-column-count: 8;  
        -moz-column-count: 8;
        width: 1776px;
    }
}

@media screen and (min-width: 1998px) and (max-width: 2219px) {
    .open-project-outer {
        -webkit-column-count: 9;  
        -moz-column-count: 9;
        width: 1998px;
    }
}

@media screen and (min-width: 2220px) and (max-width: 2441px) {
    .open-project-outer {
        -webkit-column-count: 10;  
        -moz-column-count: 10;
        width: 1998px;
    }
}

@media screen and (min-width: 2442px) {
    .open-project-outer {
        -webkit-column-count: 11;  
        -moz-column-count: 11;
        width: 2442px;
    }
}

.open-project-item {
    width: 200px;
    height: 300px;
    background-color: #fff;
    border: 1px solid rgb(70,70,70);
    background: rgb(60,60,60);
    margin: 10px;
    display: inline-block;
    text-align: center;
}

.open-project-item .icon {
    font-size: 80px;
    line-height: 150px;
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 50%;
    background-color: rgb(75,75,75);
    margin: 25px 0;
    text-align: center;
    color: #ddd;
}

.open-project-item .name {
    width: 100%;
    line-height: 50px;
    font-size: 16px;
    height: 50px;
    text-overflow:ellipsis; 
}

.open-project-item .buttons {
    height: 49px;
    border-top: 1px solid rgb(70,70,70);
    overflow-x: hidden;
    width: 100%;
}

.open-project-item .buttons .btn {
    background: rgb(80,80,80);
    text-align: center;
    float: left;
    color: #ddd;
}

.open-project-item .buttons .btn {
    width: 100px;
    line-height: 49px;
    height: 49px;
    display: inline-block;
}

.open-project-item .buttons .btn:nth-child(1) {
    border-right: 1px solid rgb(70,70,70);
    width: 99px;
}

@media screen and (max-height: 767px) {
    .open-project-item .buttons .btn:nth-child(1) {
        border-right: none;
    }
}

.create-project-outer {
    overflow-y: auto;
    height: 100%;
    margin: 0 -10px;
}

.create-project-item {
    padding: 10px;
    height: 30px;
    font-size: 16px;
    line-height: 30px;
    color: #ccc;
    border-bottom: 1px solid rgb(80,80,80);
}

.create-project-item .fa {
    height: 30px;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    float: left;
    line-height: 30px;
    background: rgb(90,90,90);
}

.create-project-item span {
    float: left;
    font-size: 16px;
    line-height: 30px;
}

.body.create-project {
    width: calc(100% - 341px);
    padding: 0 20px;
}

.msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.msg .txt {
    font-size: 24px;
    text-align: center;
    width: calc(100% - 40px);
    padding: 20px;
}

ul {
    font-family: OpenSans, 'Microsoft YaHei'
}

ul li div {
    text-overflow: ellipsis;
    height: 22px;
    text-wrap: none;
    overflow-wrap: normal;
    white-space: nowrap;
}

ul li div.active {
    color: #c3d446;
}

.sidebar-working-item div {
    display: inline-block;
}

.display-none {
    display: none;
}

.body.coding pre {
    height: 100%;
}

.right-buttons {
    float: right;
}