<div class="container work hidden">
    <div class="header">
        <div class="button active"><i class="fa fa-columns"></i></div>
        <div class="button button-run"><i class="fa fa-play"></i></div>
        <div class="header-center">
            <a class="header-center-item coding active" href="javascript:;">CODING</a>
            <a class="header-center-item git" href="javascript:;">GIT</a>
            <a class="header-center-item console" href="javascript:;">CONSOLE</a>
            <a class="header-center-item browser" href="javascript:;">BROWSER</a>
            <a class="header-center-item ssh" href="javascript:;">SSH</a>
        </div>
        <div class="button right-buttons save coding"><i class="fa fa-save"></i></div>
    </div>
    <!-- Coding Begin -->
    <div class="sidebar coding">
        <div class="search">
            <i class="fa fa-search"></i>
            <input type="text" id="txtSearch" />
        </div>
        <div class="sidebar-tab-outer">
            <div id="tabWorking" class="sidebar-tab active">WORKING</div>
            <div id="tabDirectory" class="sidebar-tab">DIRECTORY</div>
        </div>
        <div class="sidebar-working">
        </div>
        <div class="sidebar-directory hidden">
            <div class="sidebar-directory-tools">
                <a href="javascript:;" class="tool-new-file"><i class="fa fa-file"></i></a>
                <a href="javascript:;" class="tool-new-folder"><i class="fa fa-folder"></i></a>
                <a href="javascript:;" class="tool-remove"><i class="fa fa-trash"></i></a>
                <a href="javascript:;" class="tool-rename"><i class="fa fa-pencil"></i></a>
                <a href="javascript:;" class="tool-reload"><i class="fa fa-refresh"></i></a>
                <a href="javascript:;" class="tool-narrow"><i class="fa fa-tasks"></i></a>
            </div>
            <div class="sidebar-directory-tree">
            </div>
        </div>
    </div>
    <div class="body coding">
    </div>
    <!-- Coding End -->
    <!-- Git Begin -->
    <div class="sidebar git hidden">
        <div class="sidebar-tab-outer">
            <div id="tabChanges" class="sidebar-tab active">CHANGES</div>
            <div id="tabHistories" class="sidebar-tab">HISTORIES</div>
        </div>
        <div class="sidebar-changes">
            <div class="sidebar-changes-list">
            </div>
            <div class="sidebar-changes-commit">
                <input class="textbox txt-git-commit-summary" type="text" placeholder="Summary" id="txtGitSummary" />
                <textarea class="textbox commit-description" id="txtGitDescription" placeholder="Description"></textarea>
                <a href="javascript:;" class="btn-git-commit">
                    <div class="commit-button">
                        Commit &amp; Push
                    </div>
                </a>
            </div>
        </div>
        <div class="sidebar-histories">
            <div class="sidebar-histories-item active">
                <img src="http://7vzqh7.com1.z0.glb.clouddn.com/avatar.jpg" class="avatar" />
                <div class="info">
                    <div class="summary">Fix omnisharp server issue.</div>
                    <div class="hint">28 days ago by Kagamine</div>
                </div>
            </div>
            <div class="sidebar-histories-item">
                <img src="http://7vzqh7.com1.z0.glb.clouddn.com/avatar.jpg" class="avatar" />
                <div class="info">
                    <div class="summary">Fix omnisharp server issue.</div>
                    <div class="hint">28 days ago by Kagamine</div>
                </div>
            </div>
            <div class="sidebar-histories-item">
                <img src="http://7vzqh7.com1.z0.glb.clouddn.com/avatar.jpg" class="avatar" />
                <div class="info">
                    <div class="summary">Fix omnisharp server issue.</div>
                    <div class="hint">28 days ago by Kagamine</div>
                </div>
            </div>
            <div class="sidebar-histories-item">
                <img src="http://7vzqh7.com1.z0.glb.clouddn.com/avatar.jpg" class="avatar" />
                <div class="info">
                    <div class="summary">Fix omnisharp server issue.</div>
                    <div class="hint">28 days ago by Kagamine</div>
                </div>
            </div>
        </div>
    </div>
    <div class="body git hidden">
        <table class="changes">
            <colgroup>
                <col />
                <col />
                <col />
            </colgroup>
            <tbody></tbody>
        </table>
        <div class="histories">
        </div>
    </div>
</div>
<!-- Git End -->
<!-- Console Begin -->
<div class="sidebar console hidden">
    <div class="sidebar-console-session-before">
        ACTIVE SESSIONS
    </div>
    <div class="sidebar-console-session">
        <div class="sidebar-console-session-item active">
            <span>Pomelo.NetCore.Node</span>
            <a class="button"><i class="fa fa-stop"></i></a>
        </div>
        <div class="sidebar-console-session-item">
            <span>Pomelo.NetCore.Node</span>
            <a class="button"><i class="fa fa-stop"></i></a>
        </div>
        <div class="sidebar-console-session-item">
            <span>Pomelo.NetCore.Node</span>
            <a class="button"><i class="fa fa-stop"></i></a>
        </div>
        <div class="sidebar-console-session-item">
            <span>Pomelo.NetCore.Node</span>
            <a class="button"><i class="fa fa-stop"></i></a>
        </div>
    </div>
</div>
<div class="body console hidden">
    <textarea id="txtConsole" class="textbox-console">
        Hosting environment: Production
        Now listening on: http://103.193.149.207:80
        Application started. Press Ctrl+C to shut down.
    </textarea>
</div>
<!-- Console End -->
<!-- Ssh Begin -->
<div class="body ssh hidden">
    <textarea id="txtConsole" class="textbox-console">[root@localhost ~]# </textarea>
</div>
<!-- Ssh End -->
<!-- Browser Begin -->
<div class="body browser hidden">
    <div class="browser-navigator">
        <p><input type="text" class="textbox" id="txtBrowserUrl" value="http://www.baidu.com" /></p>
        <p><a class="button" href="javascript:window.open($('#txtBrowserUrl').val(), '_blank', 'location=yes');">Go!</a></p>
    </div>
</div>
<!-- Browser End -->
</div>